[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/balukonda
[access "refs/for/refs/*"]
	read = group user/balukonda
	push = group user/balukonda
	label-Code-Review = -2..+2 group user/balukonda
	label-Verified = -1..+1 group user/balukonda
	rebase = group user/balukonda
	removeReviewer = group user/balukonda
	submit = group user/balukonda
[access "refs/heads/*"]
	read = group user/balukonda
	create = group user/balukonda
	push = +force group user/balukonda
	pushMerge = group user/balukonda
[access "refs/tags/*"]
	push = group user/balukonda
	push = +force group user/balukonda
